/**
  TABLE OF CONTENTS

  COLORS
  Brand colors............................These are the main brand colors.
  Neutral colors..........................White and black, gray sacale, secondary colors.
  Utility colors..........................Other colors to represent states: info, warning, sucess, etc.

  TYPOGRAPHY
  Font famillies..........................The fonts used in the design system.
  Font weights............................Font weights
  Sizes...................................Font sizing for body text, paragraphs, inputs
  Heading sizes...........................Font sizing for page headings

  BREAKPOINTS
  Breakpoints.............................Global responsive breakpoints definitions
*/
/*=======================================
#Variables
=========================================*/
:root {
  --base-font: 20px;
  --primary-font: "poppins";
  --seconday-font: "courier+prime";

  --bold: 700;
  --medium: 500;
  --normal: 400;
  --semi-bold: 600;

  --accent-color: #2292b1;
  --gradient-start: #1b3385;
  --gradient-end: #25c5c9;
  --primary-bg: #0a0c11;
  --primary-text-color: #abadb3;
  --white: #ffffff;
  --secondary-bg: #252525;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  box-sizing: border-box;
  font-family: var(--primary-font);
  background: var(--primary-bg);
  color: var(--primary-text-color);
  font-size: var(--base-font);
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* global */
/*=======================================
    COLORS
=========================================*/

/*=============================
    Brand Colors
===============================*/
.accents {
  color: var(--accent-color);
}

/*=============================
    Neutral Colors
===============================*/
.white {
  color: var(--white);
}
.black {
  background: var(--primary-bg);
}
.gray {
  color: var(--primary-text-color);
}
/*=============================
    Utility Colors
===============================*/
.gradient {
  background: linear-gradient(
    90deg,
    var(--gradient-start) 0%,
    var(--gradient-end) 100%
  );
}
/*======================================= 
    TYPOGRAPHY 
=========================================*/
/*============================= 
    Font Famillies
===============================*/
.primary-font {
  font-family: var(--primary-font);
}
.secondary-font {
  font-family: var(--seconday-font);
}
/*============================= 
    Font Weights
===============================*/
.normal {
  font-weight: var(--normal);
}
.medium {
  font-weight: var(--medium);
}
.semi-bold {
  font-weight: var(--semi-bold);
}
.bold {
  font-weight: var(--bold);
}
/*============================= 
    Font Sizes
===============================*/
.basefont {
  font-size: var(--baseFont);
}
/*============================= 
    Headings
===============================*/
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--primary-font);
  font-weight: var(--bold);
  color: var(--white);
  margin: 0;
}
h1 {
  font-size: 2.7em;
  font-weight: var(--medium);
  line-height: 1.5em;
}

h2 {
  font-size: 2em;
  font-weight: var(--medium);
  line-height: 2.85em;
}

h3 {
  font-size: 1.47em;
  font-weight: var(--medium);
  line-height: 1.92em;
}

h4 {
  font-size: 1.4em;
  font-weight: var(--bold);
  line-height: 2.1em;
}

h5 {
  font-size: 1.2em;
  font-weight: var(--bold);
  line-height: 1.6em;
}

h6 {
  font-size: 1.44em;
  font-weight: var(--semi-bold);
  line-height: 1.4em;
}
.logo:hover {
  color: var(--accent-color);
  transition: 0.5s ease;
}
/*=======================================
    BREAKPOINTS
=========================================*/
/* 
button:hover {
  background-color: ;
  transition: .3s ease all
  transform: translateY(-5px) */
section.hero {
  max-width: 1400px;
  margin: 0 auto;
}

.hero header {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}
header .logo {
  color: var(--white);
  list-style-type: none;
  text-decoration: none;
  font-weight: var(--bold);
  font-family: var(--primary-font);
  font-size: 1.75em;
  line-height: 2.4em;
}

.menu li a:hover {
  color: var(--accent-color);
  transition: 0.3s ease;
}
nav {
  vertical-align: center;
  box-align: center;
  align-items: end;
}

video {
  max-width: 1400px;
  /* max-height: 570px; */
  object-fit: contain;
  overflow-clip-margin: content-box;
  overflow: clip;
}
nav.navigation ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 40px;
  padding: 30px;
}
nav.navigation a {
  font-size: 0.9em;
  font-family: var(--primary-font);
  font-weight: var(--normal);
  color: var(--link-text-color);
  line-height: 1.75em;
}
#home {
  color: var(--accent-color);
}
.submenu li a:hover {
  color: var(--accent-color);
  transition: 0.3s ease;
}
.menu li a {
  list-style-type: none;
  text-decoration: none;
  font-size: 0.9em;
  font-family: var(--primary-font);
  font-weight: var(--normal);
  color: var(--link-text-color);
  line-height: 1.75em;
}
.menu li:nth-child(2) ul {
  display: none;
}

.menu li:nth-child(2) {
  min-width: 112px;
  position: relative;
}

.menu li:nth-child(2):hover ul {
  display: block;
  transition: all 0.5s ease;
}

.submenu {
  position: absolute;
  top: 16px;
  left: -30px;
  z-index: 99;
}

.submenu li {
  width: 220px;
  height: 44px;
  background-color: var(--secondary-bg);
  padding-top: 5px;
  padding-left: 20px;
  text-transform: capitalize;
}
.submenu :nth-child(2) {
  border-bottom: 1px solid var(--primary-text-color);
  border-top: 1px solid var(--primary-text-color);
}
.submenu a {
  font-size: 0.75em;
  font-weight: var(--normal);
}

ul.socials {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
ul.socials li {
  padding: 0 10px 0 20px;
  list-style-type: none;
  position: relative;
}
.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: -9px;
  left: 9px;
}

.circle:hover {
  background-color: rgba(255, 255, 255, 0.15);
  transition: all 0.5s ease;
}

main h1 span {
  opacity: 0.5;
}
main.title {
  inset: 0;
  margin: auto;
  display: flex;
  width: 700px;
  flex-direction: column;
  align-items: center;
}
.title h1 {
  font-size: 4em;
  font-weight: var(--medium);
  text-align: center;
  margin-top: 90px;
  margin-bottom: 40px;
}
.title p {
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: var(--normal);
  text-align: center;
  margin-bottom: 40px;
}
main .button1 {
  background: linear-gradient(
    90deg,
    var(--gradient-start) 0%,
    var(--gradient-end) 100%
  );
  font-size: 1em;
  border-radius: 30px;
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: var(--bold);
  text-decoration-line: 1px;
  width: 174px;
  height: 60px;
  color: var(--white);
  margin-bottom: 10px;
  border: none;
}
.button1:hover {
  background: var(--white);
  color: var(--primary-bg);
  transition: all 0.5s ease;
}

.vid {
  margin-top: 50px;
  margin-bottom: 120px;
}
/* SERVICES SECTION */
.services {
  display: flex;
  margin: 0 auto;
  max-width: 1400px;
  max-height: 570px;
  margin-bottom: 115px;
}
.services figure img {
  width: 560px;
  height: 570px;
  padding-left: 70px;
}
.service-info {  
  padding-left: 100px;
  display: flex;
  width: 760px;
  flex-direction: column;
  align-items: left;
}
.service-info h6 {
  text-transform: uppercase;
  line-height: 1.8;
  font-weight: 600;
  font-style: normal;
  font-size: 0.8em;
  margin-top: 100px;
}
.service-info h2 {
  font-size: 40px;
  line-height: 1.29;
  text-transform: capitalize;
  font-weight:500;
  word-break: break-word;
  margin-top: 20px;
}
.service-info p {
  word-break: break-word;
  display: block;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.5em;
  margin-top: 30px;
  margin-bottom: 40px;
}
section .button1 {
  background: linear-gradient(
    90deg,
    var(--gradient-start) 0%,
    var(--gradient-end) 100%
  );
  font-size: 1em;
  border-radius: 30px;
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: var(--bold);
  text-decoration-line: 1px;
  width: 174px;
  height: 60px;
  color: var(--white);
  margin-bottom: 10px;
  border: none;
}
.button1:hover {
  background: var(--white);
  color: var(--primary-bg);
  transition: all 0.5s ease;
}
.ticker-chart {
  display: flex;
  margin: 0 auto;
  padding: 0;
  max-width: 1400px;
  max-height: 105px;
  justify-content: space-between;
}
.ticker-chart div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ticker-chart div h2 {
  line-height: 1.2em;
}
.ticker-chart div p {
  text-transform: capitalize;
}
/* WHAT WE DO SECTION */

